
<footer class="footer section fp-auto-height" id="connect" data-anchor="connect" style="padding:0;">
  
  <div class="row text-center">
    <div class="small-12 medium-12 large-12 columns">

        <img src="/lib/imgs/site/D!_pyramid.gif" style="vertical-align: baseline;">      
        <h2 class="hide-for-small-only">hello@diogorusso.com</h2>
        <br>
        {% for media in site.social %}
        <a type="button" class="button btn-social" href="{{ media.url }}" target="blank" >
          <i class="fa fa-{{media.name}}" aria-hidden="true"></i>
        </a>
        {% endfor %}
    </div>
   
  </div>

<div class="row fluid text-center" style="margin: 2rem 0 0 0;">
{% for btn in site.work-call-to-action-btns |limit: 6 %}
  
    <a href="{{ btn.link }}" target="blank" style="color: #000;">
    <div class="small-12 medium-6 large-4 columns text-center" style="padding: 2rem 0; background: {{ btn.bg-color }};">
    {{ btn.title }}
    </div>
    </a>
{% endfor %}
</div>

<div class="row fluid text-center" style="background:#000;">
  <p style="color: #fff; padding-top: 1.5rem;"><i class="fa fa-key" aria-hidden="true"></i></p>
</div>

</footer><!-- Footer -->
