<!DOCTYPE html>
<html>
  {% include base/head.html %} 
  <body>
    {% include scripts/js_fb-app.html %}
    {% include base/preloader.html %}
    <a id="top"></a>
    
    {% include base/header.html %}

    {% if page.auto-scroll == true %}
    <div id="fullpage-scroll">
    {% else %}
    <div id="fullpage-noscroll">
    {% endif %}
        {{ content }}
        {% include base/footer.html %}
    </div>

    {% include base/back_top_btn.html %}

    <script type="text/javascript" src="{{ site.baseurl }}/lib/js/script.js"></script>

    {% include scripts/js_init_fullpage.html %}
    {% if page.page-id == "novo" %} 
      {% include scripts/js_about.html %}
    {% endif %} 
    {% include scripts/js_g_analytics.html %}
  </body>
</html>

